@import "layout";

//body
*,
*::after,
*::before
{
    margin: 0px;
    padding: 0;
    box-sizing: inherit;
}
html, body {
    margin: 0;
    background-color: var(--dark-grey-color-1);
    color: var(--white-color);
    font-size: var(--font-small);
    // color properties
    --dark-grey-color-1: #0E0E0E;
    --dark-grey-color-2: #222222;
    --dark-grey-color-3: #181818;
    --light-grey-color-1: #858585;
    --light-grey-color-2: #AAAAAA;
    --light-grey-color-3: #E5E5E5;
    --light-grey-color-4: #F2F2F2;
    --light-grey-color-5: #F4F5F7;
    --white-color: #F4F5F7;
    --green-color: #03A138;
    --pink-color: #E80A89;
    --yellow-color-1: #FFBA0E;
    --yellow-color-2: #FDC830;
    --yellow-color-3: #DBAC69;
    --orange-color: #F37335;
    --blue-color: #009EB5;
    --purple-color: #9E08C4;

    // font
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-smallest: 12px;
    --font-small: 14px;
    --font-medium-1: 16px;
    --font-medium-2: 18px;
    --font-large: 20px;
    --font-largest: 25px;

    // header height
    --header-height: 60px;

}

//layout-container
.container {
    margin-left: 68px;
    margin-right: 68px;
}

// Header
.header-container {
    background: var(--dark-grey-color-2);
    height: var(--header-height);
    width: 100vw;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    //header-box
    .header-box {   
        display: flex;
        height: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        // Logo
        .logo {
            font-size: var(--font-large);
            font-weight: bold;
            margin-top: -5px;
            @include respond(phone) {
                font-size: 2.5rem;
            }
        }
        // List menu
        .list-menu {
            display: flex;
            flex: 1;
            list-style: none;
            align-items: center;
            height: 100%;
            li {
                margin: 0 15px;
                a {
                    text-decoration: none;
                    color: var(--white-color)
                }   
            }
            .selected {
                color: var(--yellow-color-1)
            }
        }
        .header-icon {
            margin: 0 10px;
            width: 23px;
            height: 23px;
        }
        .search-icon {
            width: 16px;
            height: 16px;
        }
        .user-name {
            margin-left: 10px
        }
    }
}

// Content container
.content-container {
    margin-top: 60px;
    padding-top: 20px;
}

// show on big-phone and phone
.show-on-mobile {
    display: none !important
}

// show on phone
.show-on-phone {
    display: none !important
}

// show on big-phone
.show-on-big-phone {
    display: none !important
}

// Right-menu
.background-navigation {
    display: none;
}
.right-navigation {
    display: none;
}
.menu-trigger {
    display: none;
}

@include respond(tab-land) {
    .container {
        margin-left: 25px;
        margin-right: 25px;
    }
}

@include respond(tab-port) {
    .header-container .header-box {
        .logo {
            flex: 1;
        }
        .list-menu {
            display: none !important;
        }
        .menu-trigger {
            height: 100%;
            display: flex;
            margin-left: 20px;
        }
    }
    .background-navigation {
        position: fixed;
        z-index: 5;
        width: 100vw;
        height: 100vh;
        top: var(--header-height);
        left: 0;
        background: var(--dark-grey-color-1);
        opacity: 0.5;
        display: none;
    }
    .right-navigation {
        display: block;
        position: fixed;
        z-index: 999;
        width: 270px;
        height: 100vh;
        top: var(--header-height);
        right: -270px;
        background: var(--dark-grey-color-1);
        transition: 0.5s;
        font-size: var(--font-medium-2);
        overflow-y: auto;
        .menu-item {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 56px;
            background-color: var(--dark-grey-color-2);
            justify-content: center;
            padding-left: 20px;
            margin-bottom: 1px;
            text-decoration: none;
            color: var(--white-color);
        }
        .sub-menu--box {
            margin: 0 20px;
            .sub-menu-item {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 56px;
                justify-content: center;
                border-top: solid 1px var(--light-grey-color-2);
                text-decoration: none;
                color: var(--white-color);
            }
            .sub-menu-item:first-child{
                border-top: none;
            }
        }
    }
    .show-navigation {
        right: 0 !important;
    }
    .show-background-navigation {
        display: block !important;
    }
}

@include respond(big-phone) {
    .container {
        margin-left: 10px;
        margin-right: 10px;
    }
    .show-on-mobile {
        display: flex !important
    }
    // hide on big-phone and phone
    .hide-on-mobile {
        display: none !important
    }

    .show-on-big-phone {
        display: flex !important
    }
    // hide on big-phone and phone
    .hide-on-big-phone {
        display: none !important
    }
    // navigation
    .right-navigation {
        width: 100vw;
        right: -100vw;
    }

    html, body {
        // font size
        --font-smallest: 10px;
        --font-small: 13px;
        --font-medium-1: 14px;
        --font-medium-2: 16px;
        --font-large: 18px;
        --font-largest: 22px;
    }
}


@include respond(phone) {
    .show-on-phone {
        display: flex !important
    }
    // hide on big-phone and phone
    .hide-on-phone {
        display: none !important
    }

    .hide-on-big-phone {
        display: flex !important
    }
    .header-container .header-box {
        .header-icon, .user-name {
            display: none !important;
        }
    }

    html, body {
        // font size
        --font-smallest: 9px;
        --font-small: 12px;
        --font-medium-1: 13px;
        --font-medium-2: 15px;
        --font-large: 17px;
        --font-largest: 20px;
    }
}

