@import url("common.css");
@import "layout";

.export_container {
  display: flex;
  flex-direction: row;

  &-exportmenu {
    margin-right: 15px;
    
    width: 180px;
    height: 40px;
    background-color: var(--dark-grey-color-2);
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--text {
      font-size: 14px;
      border-left: 2px solid var(--yellow-color-1);
      height: 60%;
      width: 100%;
      padding-left: 10px;
      padding-top: 10px;
    }

    @include respond(phone) {
      display: none;
    }
  }

  &-exportInfoWrapper {
    margin-top: 75px;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--dark-grey-color-2);
    padding: 15px 20px 100px 15px;

    @include respond(phone) {
      background-color: var(--dark-grey-color-1);
      padding: 0;
    }

    &--reportTxt {
      padding-bottom: 10px;
      border-bottom: 1px solid var(--dark-grey-color-1);

      @include respond(phone) {
        font-size: 1.5rem;
        border: none;
        margin-bottom: 10px;
      }
    }

    &--reportWrapper {
      @include respond(mw) {
        display: grid;
        grid-template-columns: repeat(4, 20%);
        justify-content: space-between;
        margin-top: 20px;
      }

      @include respond(phone) {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        justify-content: space-between;
        background-color: var(--dark-grey-color-3);
        padding: 15px 20px 20px 10px;
      }  
       
      &_dropdown {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;

        &-title {
          font-size: 1.2rem;
        }

        .icon_select_mate {
          position: absolute;
          top: 15px;
          right: 2%;
          font-size: 16px;
          height: 22px;
          transition: all 275ms;
          cursor: pointer;
        }
        
        .select_mate {
          position: relative;
          float: left;
          width: 100%;
          height: 32px;
          color: var(--light-grey-color-1);
          font-weight: 300;
          transition: all 50ms ease-in-out;
        
          select {
            position: absolute;
            overflow: hidden;
            height: 0px;
            opacity: 0;
            z-index: -1;
          }
        }
        
        .cont_list_select_mate {
          position: relative;
          float: left;
          width: 100%;
        }
        
        .cont_select_int {
          position: absolute;
          left: 0px;
          top: 0px;
          z-index: 999;
          overflow: hidden;
          height: 0px;
          width: 102.5%;
          background-color: var(--dark-grey-color-1);
          padding: 0px;
          margin-bottom: 0px;
          margin-top: 0px;
          transition: all 50ms ease-in;
        
          li {
            position: relative;
            float: left;
            width: 96%;
            border-bottom: 1px solid var(--dark-grey-color-3);
            background-color: var(--dark-grey-color-1);
            list-style-type: none;
            padding: 10px 2%;
            margin: 0px;
            transition: all 10ms ease-in;
            display: block;
            cursor: pointer;
        
            &:last-child {
              border-bottom: 0px;
        
            }
        
            &:hover {
              background-color: var(--light-grey-color-3);
              color: var(--dark-grey-color-1)
            }
          }
        
          .active {
            background-color: var(--light-grey-color-3);
            color: var(--dark-grey-color-1)
          }
        }

        .cont_select_int--mobile-export {
          li {
            &:first-child {
              display: none;
            }
          }
        }
        
        .selecionado_opcion {
          padding: 10px;
          display: block;
          margin: 0px;
          cursor: pointer;
          background-color: var(--dark-grey-color-3);
          margin-top: 10px;

          @include respond(phone) {
            background-color: var(--dark-grey-color-1);
          }
        }
        
      }
      &_calendar {
        display: flex;
        flex-direction: column;
        margin-top: 2px;

        &-title {
          
          @include respond(phone) {
            font-size: 1.2rem;
          }
        }

        &-picker {
          background-color: var(--dark-grey-color-3);
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          height: 35px;
          margin-top: 10px;
          padding-right: 10px;

          @include respond(phone) {
            background-color: var(--dark-grey-color-1);
          }

          .calendarPicker {
            background: transparent;
            border: none;
            outline: none;
            width: 100%;
            background-image: url(../assets/icons/ic-calendar.svg);
            background-repeat: no-repeat;
            background-position: right;
            color: var( --light-grey-color-1);
            margin-left: 10px;
            font-size: 14px;
            cursor: default;
          }
        }
      }

      &_action {
        display: flex;
        flex-direction: row;
        border-top: 1px solid var(--dark-grey-color-1);
        padding-top: 20px;
        margin-top: -10px;
        width: 100%;

        @include respond(phone) {
          border: none;
        }

        .export_statistic {
          background-color: var(--dark-grey-color-1);
          border: 1px solid var(--yellow-color-1);
          width: 130px;
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 5px;
          cursor: pointer;

          @include respond(phone) {
            width: 100px;
          }
        }
        .export_dataA {
          background-color: var(--dark-grey-color-1);
          border: 1px solid var(--blue-color);
          width: 130px;
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 5px;
          cursor: pointer;

          @include respond(phone) {
            width: 100px;
          }
        }
        .export_dataB {
          background-color: var(--dark-grey-color-1);
          border: 1px solid var(--green-color);
          width: 130px;
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 5px;
          cursor: pointer;

          @include respond(phone) {
            width: 100px;
          }
        }
      }

    }
  }
}
