@import url("common.css");
@import "layout";

// top report
.top-report-container {
    display: flex;
    flex-direction: row;
    .top-report-item {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        background-color: var(--dark-grey-color-2);
        margin: 0 5px;
        height: 152px;
        border-bottom: solid 5px var(--green-color);
        .return-icon {
            margin-right: 15px;
        }
        .return-icon {
            margin-right: 15px;
        }
        .return-detail {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            span {
                font-size: var(--font-medium-2);
            }
            .return-value {
                font-size: var(--font-largest);
                font-weight: bold;
                margin-right: 16px;
            }
        }
    }
    .top-report-item:first-child {
        margin-left: 0;
        border-bottom-color: var(--blue-color)
    }
    .top-report-item:last-child {
        margin-right: 0;
        border-bottom-color: var(--purple-color)
    }
}
//=====//

// second
.second-content-container {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    .second-content-item {
        background-color: var(--dark-grey-color-2);
        flex: 1;
        min-height: 368px;
    }
    .activity-box {
        display: flex;
        flex-direction: column;
        flex: 2.3;
        background-color: var(--dark-grey-color-2);
        margin-right: 10px;
        padding: 16px 15px 20px 15px;
        h1 {
            font-size: var(--font-medium-1)
        }
        .activity-item {
            background-color: var(--dark-grey-color-3);
            color: var(--light-grey-color-2);
            padding: 5px;
            margin-bottom: 5px;
        }

        .activity-box-header {
            display: flex;
            flex-direction: row;
            height: 30px;
            align-items: center;
            border-bottom: 1px solid var(--light-grey-color-2);
            img {
                width: 18px;
                height: 18px;
                margin-right: 6px;
            }
        }
    }
}

@include respond(phone) {
}