@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {@content}; //600px
    }
    @if $breakpoint == big-phone {
        @media (max-width: 47em) {@content};
    }
    @if $breakpoint == mw {
        @media (min-width: 47em) {@content};
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) {@content}; //900px
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) {@content}; //1200px
    }
    @if $breakpoint == desktop {
        @media (max-width: 100em) {@content};
    }
    @if $breakpoint == big-desktop {
        @media (max-width: 112.5em) {@content}; //1800px
    }
}