@import url("./common.css");
@import "layout";

html, body {
  height: 100%;
  background-color: white;
}

.login_container {

  background-image: linear-gradient(
    to right bottom,
    rgba($color: #000, $alpha: 0.3),
    rgba($color: #000, $alpha: 0.3)),
    url(../assets/images/loginBackground.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 100%; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @include respond(desktop) {
    background-size: cover;
  }

  @include respond(tab-land) {
    background-size: cover;
  }

  @include respond(phone) {
    background-image: linear-gradient(
      to right bottom,
      rgba($color: #000, $alpha: 0.8),
      rgba($color: #000, $alpha: 0.8)),
      url(../assets/images/loginBackground.png);
      justify-content: center;
  }

  &-webName {
      margin-top: 200px;
      @include respond(phone) {
        margin: 0 auto;
      }
  }

  &-loginBtn {
    margin-top: 20px;
    background: var(--dark-grey-color-3);
    width: 350px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    
    &--google {
     margin-left: 35px;
    }
    &--text {
      margin-left: 15px;
    }
    
  }
}