@import url("common.css");
@import "layout";


.lookup_container { 

  &-exportmenu {
    float: left;
    margin-right: 15px;
    width: 180px;
    height: 40px;
    background-color: var(--dark-grey-color-2);
    display: flex;
    align-items: center;
    cursor: pointer;
   

    a {
      color: white;
      text-decoration: none;
      border-left: solid 2px var(--yellow-color-1);
      height: 90%;
      display: flex;
      align-items: center;

      &:visited {
        color: white;
        text-decoration: none;
      }

      &:active {
        color: white;
        text-decoration: none;
      }
    }

    &--text {
      margin-left: 10px;
      font-size: 14px;
    }

    @include respond(phone) {
      display: none;
    }
  }

  &-staffLookup {
    margin-top: 75px;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--dark-grey-color-2);
    padding-left: 15px;
    position: relative;

    @include respond(phone) {
      background-color: var(--dark-grey-color-1);
    }


    &--inputWrapper {
      margin: 15px 10px 10px 0;
      background-color: var(--dark-grey-color-1);
      display: flex;
      flex-direction: row;
      height: 32px;

      @include respond(phone) {
        background-color: var(--dark-grey-color-3);
        height: 35px;
      }

      &_icon {
        margin-right: 10px;
        margin-left: 10px;
      }

      &_input {
        background-color: var(--dark-grey-color-1);
        height: 100%;
        width: 100%;
        border: none;
        font-size: 14px;
        color: var(--light-grey-color-1);

        @include respond(phone) {
          background-color: var(--dark-grey-color-3);
        }


        &:focus {
          outline: none;
        }
      }
    }

    // Lookup Advance
    &--advance {
      background-color: var(--dark-grey-color-1);
      width: 128px;
      height: 28px;
      border: 1px solid var(--light-grey-color-1);
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-left: 6px;
      padding-right: 6px;
      margin-top: 5px;
      cursor: pointer;

      @include respond(phone) {
        width: 97%;
        height: 35px;
        background-color: var(--dark-grey-color-3);
        padding-left: 12px;
      }

      &-icon {
        @include respond(phone) {
          display: none;
        }
      }

      &-polygon {
        @include respond(tab-port) {
          display: none;
        }

        @include respond(mw) {
          display: none;
        }

        @include respond(phone) {
          display: block;
        }
      }
    }

    &--advanceInfo {

      @include respond(mw) {
        margin-right: 25px;
        display: none;
        grid-template-columns: repeat(4, 20%);
        justify-content: space-between;
        margin-top: 20px;
      }

      @include respond(phone) {
        margin-top: 0;
        grid-template-columns: repeat(2, 45%);
        background-color: var(--dark-grey-color-3);
        padding: 15px 20px 20px 10px;
        margin-right: 10px;
        justify-content: space-between;
      }

      @include respond (tab-port) {
        grid-template-columns: repeat(2, 45%);
      }

      &_block {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        &-info {
          margin-top: 10px;
          background-color: var(--dark-grey-color-1);
          width: 100%;
          height: 32px;
          display: flex;
          align-items: center;
          padding-left: 10px;
          padding-right: 5px;
          color: var(--light-grey-color-1);
          border: none;
          font-size: 1rem;
          outline: none;

          @include respond(phone) {
            height: 35px;
          }
        }
        &-title {
          font-size: 1rem;
        }

      }
    }

    &--resultWrapper {
      display: grid;
      grid-template-columns: repeat(3, 30%);
      justify-content: space-between;

      @include respond(tab-port) {
        grid-template-columns: repeat(2, 50%);
        grid-column-gap: 10px;
      }

      @include respond(phone) {
        grid-template-columns: repeat(1, 100%);
        margin-top: 20px;
      }


    }

    &--result {
      margin-right: 10px;

      @include respond(phone) {
        margin-right: 10px;
      }

      &_header {
        margin-top: 15px;
        border-top: 1px solid var(--dark-grey-color-1);
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 15px;

        @include respond(phone) {
          display: none;
        }


        &-paging {
          display: flex;
          flex-direction: row;

          &--pageSelected {
            margin-left: 5px;
            margin-right: 5px;
            cursor: pointer;
          }

          &--page {
            margin-right: 5px;
            color: var(--light-grey-color-1);
            cursor: pointer;
          }

          &--arrowWrapper {
            background-color: var(--light-grey-color-1);
            width: 16px;
            height: 16px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1px;
            cursor: pointer;

            &_left {
              width: 10px;
              height: 10px;
              padding-right: 1.8px;
            }

            &_right {
              transform: rotate(180deg);
              width: 10px;
              height: 10px;
              margin-left: 1.6px;
            }
          }
        }

      }

      &_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 20px;

        &-box {
          background-color: var(--dark-grey-color-1);
          display: flex;
          flex-direction: row;
          height: auto;
          width: 100%;
          justify-content: flex-start;
          align-items: flex-start;

          @include respond(phone) {
            background-color: var(--dark-grey-color-3);
          }

          &--face {
            padding: 20px 10px 0 10px;
          }

          &--inforDetail {
            padding: 10px;

            &_name {
              text-transform: uppercase;
            }

            &_contact {

              &-id,
              &-email,
              &-phone {
                margin-top: 10px;

                &--number,
                &--address {
                  color: var(--light-grey-color-1);
                  margin-left: 10px;
                }
              }


            }
          }
        }
      }
    }

    // Paging mobile 
    &--pagingMobile {
      @include respond(phone) {
        padding-bottom: 30px;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center
      }

      &_roundSelected {
        @include respond(phone) {
          width: 20px;
          height: 8px;
          border-radius: 4px;
          background-color: var(--light-grey-color-4);
          margin-right: 5px;
        }
      }

      &_round {
        @include respond(phone) {
          width: 8px;
          height: 8px;
          border-radius: 4px;
          background-color: var(--light-grey-color-1);
          margin-right: 5px;
        }
      }
    }
  }
}