@import url("common.css");
@import "layout";

.order-container {
    padding-bottom: 30px;
    .left-categories {
        float: left;
        margin-right: 15px;
        width: 180px;
        background-color: var(--dark-grey-color-2);
        .category-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px;
            // margin: 5px 0;
            text-decoration: none;
            color: var(--white-color);
            border-left: solid 2px transparent;
            transition: 0.5s
        }
        .category-item:hover {
            background-color: var(--dark-grey-color-3)
        }
        .sub-menu {
            display: none
        }
        .selected .category-item {
            border-left: solid 2px var(--yellow-color-1)
        }
        .selected .sub-menu {
            display: flex;
            flex-direction: column;
            .sub-menu-item {
                text-decoration: none;
                color: var(--light-grey-color-1);
                padding: 10px;
                padding-left: 20px;
                font-size: var(--font-smallest)
            }
            .sub-menu-item-selected {
                color: var(--white-color);
            }
            
        }
        .category .hide-sub-menu {
            display: none;
        }
        .selected .show-sub-menu {
            display: none;
        }
        .selected .hide-sub-menu {
            display: block;
        }

        h1 {
            margin: 0;
            font-size: var(--font-small);
            font-weight: normal;
            text-align: center;
            margin-top: 10px;
        }
        .area-box {
            display: block;
            height: 32px;
            margin: 10px;
            .area-trigger {
                display: flex;
                height: 100%;
                text-decoration: none;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background-color: var(--dark-grey-color-3);
                padding: 0 10px;
                span {
                    color: var(--light-grey-color-1)
                }
            }
            .area-list-box {
                display: block;
                position: relative;
                z-index: 10;
                top: -100%;
                height: 0px;
                width: 100%;
                overflow-y: scroll;
                background-color: var(--dark-grey-color-3);
                opacity: 0;
                transition: 0.2s;
                .search {
                    width: calc(100% - 12px);
                    background-color: var(--dark-grey-color-1);
                    border: 1px solid var(--light-grey-color-1);
                    height: 32px;
                    font-size: var(--font-small);
                    color: var(--white-color);
                    padding-left: 10px;
                }
                .area-box-item {
                    display: block;
                    padding: 10px;
                    border-bottom: 1px solid var(--dark-grey-color-2);
                    text-decoration: none;
                    color: var(--light-grey-color-1)
                }
            }
            .bg-close-area-box {
                display: none;
                position: fixed;
                z-index: 5;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
            }
            .show-list-area {
                height: 200px;
                opacity: 1;
            }
            .show-bg-close-area {
                display: block;
            }
        }
        .line {
            height: 0px;
            border-top: 1px solid var(--dark-grey-color-1);
            margin: 0 10px;
        }
    }

    .main-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 0px 15px;
        .order-info-container {
            background-color: var(--dark-grey-color-2);
            margin-bottom: 15px;
            padding: 10px 15px;
            h1 {
                margin: 0;
                font-size: var(--font-small);
                font-weight: normal;
                text-transform: uppercase;
            }
            .order-info-box {
                margin: 10px 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .order-info-item {
                    display: inline-flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    .order-info-item--title {
                        margin-right: 2px;
                        color: var(--light-grey-color-1);
                    }
                    .order-info-item--value {
                        font-size: var(--font-smallest)
                    }
                    .order-info-item-calendarWrapper {
                        width: 100px;
                        height: 32px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        background-color: var(--dark-grey-color-3);
                        align-items: center;
                        padding: 0 5px;
                        // span {
                        //     font-size: var(--font-smallest)
                        // }
                        .order-info-item--calendar {
                            background: transparent;
                            width: calc(100% - 30px);
                            border: none;
                            outline: none;
                            font-size: var(--font-smallest);
                            background-repeat: no-repeat;
                            background-position: 95% 50%;
                            color: var(--light-grey-color-1);
                            padding-left: 5px;
                        }
                    }
                }

                .order-info-box--profile {
                    display: flex;
                    flex: 1;
                    justify-content: space-between;
                    max-width: 500px;
                }
                .order-date-box {
                    margin-left: 40px;
                    .order-info-item {
                        margin-left: 20px;
                    }
                    .order-info-item:first-child {
                        margin-left: 0px;
                    }
                }
            }
        }
        .order-body-container {
            background-color: var(--dark-grey-color-2);
            padding: 10px 15px;
            padding-bottom: 50px;
            .header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .header-info {
                    display: flex;
                    flex: 1;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    .header--title {
                        margin: 0;
                        font-weight: normal;
                        font-size: var(--font-small);
                        display: flex;
                        flex: 1;
                    }
                }
                .header--action {
                    display: flex;
                    flex-direction: row;
                    margin-left: 35px;
                    a {
                        padding: 5px 10px;
                        background-color: var(--yellow-color-3);
                        text-decoration: none;
                        color: var(--white-color);
                        margin-left: 3px;
                        min-width: 100px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        img {
                            margin-right: 5px
                        }
                    }
                }
            }

            .body--navigation {
                background-color: var(--dark-grey-color-3);
                margin-top: 15px;
                ul {
                    list-style: none;
                    // display: inline-flex;
                    display: flex;
                    flex-direction: row;
                    max-width: 1200px;
                    li {
                        display: flex;
                        flex: 1;
                        a {
                                display: flex;
                                flex: 1;
                                justify-content: center;
                                align-items: center;
                                float: left;
                                // height: 30px;
                                background: var(--dark-grey-color-3);
                                text-align: center;
                                padding: 5px 20px;
                                position: relative;
                                margin: 0 1px 0 0;
                                font-size: var(--font-smallest);
                                text-decoration: none;
                                color: #fff;

                        }
                        a:after {
                            content: "";
                            // border-top: 15px solid transparent;
                            // border-bottom: 15px solid transparent;
                            // border-left: 15px solid var(--dark-grey-color-3);
                            // position: absolute;
                            // right: -15px;
                            border-top: solid transparent;
                            border-bottom: solid transparent;
                            border-left: 15px solid var(--dark-grey-color-3);
                            position: absolute;
                            right: -15px;
                            top: 0;
                            z-index: 1;
                        }
                        a:before {
                            content: ""; 
                            // border-top: 15px solid transparent;
                            // border-bottom: 15px solid transparent;
                            // border-left: 15px solid var(--light-grey-color-1);
                            border-top: solid transparent;
                            border-bottom: solid transparent;
                            border-left: 15px solid var(--light-grey-color-1);
                            position: absolute; left: 0; top: 0;
                        }
                        a:hover, a:after:hover {
                            background: var(--yellow-color-3);
                            border-left-color: var(--yellow-color-3);
                        }
                    }
                    li:first-child a {
                        padding: 0 10px;
                    }
                    li:last-child a {
                        padding: 0 5px 0 25px;
                    }
                    li:first-child a:before {
                        display: none
                    }
                    li:last-child a:after {
                        display: none; 
                    }
                    .selected a {
                        background: var(--yellow-color-3);
                    }
                    .selected a:after {
                        border-left-color: var(--yellow-color-3);
                    }
                }
            }

            .body--form {
                margin-top: 15px;
                background-color: var(--dark-grey-color-3);
                .form-title {
                    display: flex;
                    margin: 0;
                    font-size: var(--font-small);
                    color: var(--yellow-color-3);
                    padding: 5px 20px;
                    border: 1px solid var(--dark-grey-color-1);
                    border-top: none;

                }
                .form--row {
                    display: flex;
                    flex-direction: row;
                    border: 1px solid var(--dark-grey-color-1);
                    border-top: none;
                    border-right: none;
                    .form--row-item {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding: 5px 10px;
                        border-right: 1px solid var(--dark-grey-color-1);
                        overflow: hidden;
                    }
                    .form--row-small-item {
                        flex: 1;
                        align-items: center
                    }
                    .form--row-medium-item {
                        flex: 3
                    }
                    .form--input {
                        padding-top: 0px;
                        padding-bottom: 0px;
                        input {
                            display: flex;
                            flex: 1;
                            background-color: transparent;
                            border: none;
                            outline: none;
                            font-size: var(--font-small);
                            color: var(--white-color)
                        }
                    }
                    .form--checkbox {
                    }
                }
            }
            .form--header {
                background-color: var(--light-grey-color-1);
                .form--row-medium-item {
                    align-items: center
                }
            }
        }
    }
    .blank {
        background-color: var(--dark-grey-color-2);
        height: 800px;
    }
}

@include respond(tab-land) {
    .main-container .order-info-container .order-info-box {
        flex-direction: column !important;
        .order-date-box {
            margin-top: 20px;
            display: flex;
            justify-content: flex-end;
        }
    }
    .main-container .order-body-container .header {
        flex-direction: column !important;
        .header-info {
            width: 100%;
            margin-bottom: 10px;
        }
        .header--action {
            width: 100%;
            justify-content: flex-end; 
            padding-right: 40px;
        }

    }
}
@include respond(big-phone) {
    .main-container .order-info-container .order-info-box {
        .order-info-box--profile {
           flex-direction: column;
           .order-info-item {
                justify-content: flex-start;
                margin-bottom: 5px;
                .order-info-item--title {
                    width: 100px
                }
           }
        }
        .order-date-box {
            margin-left: 0px !important;
            justify-content: space-between;
            .order-info-item {
                display: flex;
                flex: 1;
                flex-direction: column;
                align-items: flex-start;
                .order-info-item-calendarWrapper {
                    width: 100%;
                    margin-top: 5px;
                    
                }
            }
        }
    }
    .step-on-mobile {
        display: flex;
        flex-direction: row;
        flex: 1;
        .step {
            display: flex;
            flex: 1;
            text-align: center;
            padding-top: 5px;
            border-top: 5px solid var(--light-grey-color-2);
            font-size: 8px;
            text-decoration: none;
            color: var(--white-color);
            justify-content: center;
        }
        .selected {
            border-top-color: var(--blue-color);
            color: var(--blue-color)
        }
    }

    .main-container .order-body-container .body--form {
        background-color: transparent !important;
        .form-title {
            border: none !important;
            padding-left: 0px !important;
            color: var(--yellow-color-1) !important;
        }
        .form--row {
            display: flex;
            flex-direction: column !important;
            border-top: 1px solid var(--dark-grey-color-1) !important;
            border-right: 1px solid var(--dark-grey-color-1) !important;
            margin-bottom: 5px;
            padding: 10px !important;
            .form--row-item {
                display: flex;
                flex-direction: row !important;
                justify-content: flex-start !important;
                padding: 5px 0px !important;
                border-right: none !important;
                overflow: hidden;
                .code-on-mobile {
                    margin-left: 5px;
                }
                .form-header-on-mobile {
                    width: 110px;
                }
            }
            .form--row-small-item {
                flex: 1;
                align-items: flex-start !important;
            }
            .form--row-medium-item {
                flex: 1 !important
            }
            .form-value {
                display: flex;
                flex: 1;
                flex-direction: column;
                justify-content: center;
                padding: 2px 5px;
                background-color: var(--dark-grey-color-3);
                min-height: 22px;
                color: var(--light-grey-color-2)

            }
            .form--input {
                padding-top: 0px;
                padding-bottom: 0px;
                input {
                    background-color: var(--dark-grey-color-3) !important;
                    height: 22px;
                    color: var(--light-grey-color-2) !important;
                    padding-left: 5px;
                }
            }
        }
    }
}

@include respond(phone) {
    .main-container {
        padding: 0px !important;
        .order-body-container {
            background-color: transparent !important;
            .body--form .form--row {
                border-color: var(--dark-grey-color-2) !important
            }
        }

        .order-navigation-onphone {
            display: flex;
            flex-direction: column;
            .submenu-container {
                display: block;
                height: 32px;
                margin-bottom: 10px;
                .down-arrow-yellow {
                    display: none
                }
                .phone-sub-menu-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    height: 100%;
                    border: 1px solid var(--light-grey-color-1);
                    padding: 0 15px;
                    color: var(--white-color) !important
                }
                .background-sub-menu {
                    display: none;
                    position: fixed;
                    z-index: 10;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 100vh;
                    background-color: var(--dark-grey-color-1);
                    opacity: 0.7;
                }
                .background-sub-menu--show {
                    display: block;
                }
                .submenu-box--show {
                    height: 200px !important;
                    opacity: 1 !important;
                }
                .sub-menu-box--container {
                    display: block !important;
                    flex-direction: column;
                    position: relative;
                    z-index: 20;
                    width: 100%;
                    height: 0px;
                    background-color: var(--dark-grey-color-3);
                    top: calc(-100% - 2px);
                    display: flex;
                    overflow-y: scroll;
                    opacity: 0;
                    transition: 0.2s;
                    .search {
                        width: calc(100% - 17px);
                        height: 32px;
                        font-size: (--font-large);
                        padding-left: 15px;
                        background: transparent;
                        border: 1px solid var(--light-grey-color-1);
                        color: var(--white-color);
                    }
                    .sub-menu-box-item {
                        display: block;
                        padding: 0 15px;
                        border-bottom: 1px solid var(--dark-grey-color-1);
                        a {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            flex: 1;
                            height: 32px;
                            color: var(--light-grey-color-2);
                            font-size: (--font-large);
                            text-decoration: none;
                        }
                        .sub-order-menu--list {
                            display: none
                        }
                    }
                    .sub-menu-box-selected .sub-order-menu--list {
                        display: block !important
                    }
                    .sub-menu-box-item--selected a {
                        color: var(--white-color)
                    }
                }
                #order-menu--container .main-menu {
                    color: var(--white-color)
                }
                .menu--on-phone--selected {
                    span {
                        color: var(--yellow-color-1)
                    }
                    .down-arrow-yellow {
                        display: block !important
                    }
                    .down-arrow-white {
                        display: none
                    }
                }
            }

            
        }

    }
    .blank {
        background-color: transparent !important;
    }
}