@import url("common.css");
@import "layout";

.profile-container {
    // display: flex;
    // flex-direction: row;
    padding-bottom: 30px;
    .left-categories {
        float: left;
        margin-right: 15px;
        width: 180px;
        background-color: var(--dark-grey-color-2);
        a {
            display: block;
            padding: 5px 10px;
            margin: 5px 0;
            text-decoration: none;
            color: var(--white-color);
            border-left: solid 2px transparent;
            transition: 0.5s
        }
        a:hover {
            background-color: var(--dark-grey-color-3)
        }
        .selected {
            border-left: solid 2px var(--yellow-color-1)
        }
    }

    .main-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        background-color: var(--dark-grey-color-2);
        padding: 10px 15px;
        .info {
            display: flex;
            flex: 1;
            flex-direction: row;
            align-items: center;
            margin-bottom: 20px;
            .avatar {
                display: block;
                width: 50px;
                height: 50px;
                margin-right: 25px;
            }
            .info-content {
                display: flex;
                flex: 1;
                flex-direction: column;
                h1 {
                    font-size: var(--font-small);
                    margin: 0px;
                }
                span {
                    margin-top: 8px;
                }
            }
        }
        
        .report-button {
            display: flex;
            height: 32px;
            align-items: center;
            padding: 0 15px;
            text-decoration: none;
            color: var(--dark-grey-color-2);
            background: linear-gradient(90deg, var(--orange-color) 0%, var(--yellow-color-2) 100%);
            margin-bottom: -30px;
            transition: 0.5s;
            img {
                width: 14px;
                height: 14px;
                margin-bottom: -3px;
                margin-left: 8px;
            }
        }
        .report-button:hover, .report-button:active {
            border-radius: 8px;
            -webkit-box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.66);
            -moz-box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.66);
            box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.66);
        }

        .card-list-content {
            border-top: solid 1px var(--dark-grey-color-1);
            padding-top: 20px;
            margin-bottom: 25px;
            .card-title {
                display: flex;
                flex-direction: row;
                align-items: center;
                img {
                    height: 18;
                    margin-right: 15px;
                }
                h1 {
                    font-size: var(--font-small);
                    margin: 0px;
                    color: var(--yellow-color-1);
                    font-weight: normal;
                }
            }
            .card-item {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .item-content {
                    // flex-grow: 1;
                    width: 30%;
                    margin-top: 15px;
                    h1 {
                        font-size: var(--font-small);
                        margin: 0px;
                        font-weight: normal;
                    }
                    span {
                        display: flex;
                        flex-direction: column;
                        min-height: 17px;
                        justify-content: center;
                        padding: 5px 10px;
                        margin-top: 8px;
                        background: var(--dark-grey-color-3);
                        color: var(--light-grey-color-1);
                        overflow: hidden;
                    }
                }
            }
        }

        .experience-container {
            display: flex;
            flex-direction: row;
            .experience-box {
                display: flex;
                flex: 1;
                flex-direction: column;
                .experience-item {
                    min-height: 80px;
                    display: flex;
                    flex-direction: row;
                    .experience-date {
                        display: flex;
                        align-items: center;
                        padding-right: 15px;
                        min-width: 90px;
                    }
                    .experience-description {
                        display: flex;
                        align-items: center;
                        padding: 10px 20px;
                    }
                    // set color for border and text of item
                    .purple-right-border {
                        border-right: solid 3px var(--purple-color);
                        color: var(--purple-color)
                    }
                    .green-right-border {
                        border-right: solid 3px var(--green-color);
                        color: var(--green-color)
                    }
                    .pink-right-border {
                        border-right: solid 3px var(--pink-color);
                        color: var(--pink-color)
                    }
                    .blue-right-border {
                        border-right: solid 3px var(--blue-color);
                        color: var(--blue-color)
                    }
                    .yellow-right-border {
                        border-right: solid 3px var(--yellow-color-1);
                        color: var(--yellow-color-1)
                    }
                }

            }
        }

    }
}

@include respond(tab-land) {
    .card-item {
        .item-content {
            width: 32% !important;
        }
    }
}

@include respond(tab-port) {
    .card-item {
        .item-content {
            width: 48% !important;
        }
    }
}

@include respond(big-phone) {
    .card-item {
        .item-content {
            width: 100% !important;
        }
    }
    .experience-container {
        flex-direction: column !important;
        .report-box-only-mobile {
            height: 60px;
            justify-content: flex-end;
        }
    }
}

@include respond(phone) {
    .content-container {
        margin-top: 0;
    }
    .profile-container .left-categories {
        display: none;
    }
    .profile-container .main-container {
        background: transparent;
    }
    .report-button {
        font-size: var(--font-smallest);
        img {
            width: 10px !important;
            height: 10px !important;
            margin-bottom: -2px !important;
            margin-left: 4px !important;
        }
    }

    .submenu-container {
        display: block !important;
        margin-top: 60px;
        height: 48px;
        .phone-sub-menu-container {
            height: 100%;
            background-color: var(--dark-grey-color-2);
            border-top: 1px solid var(--dark-grey-color-1);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 15px;
        }
        .background-sub-menu {
            display: none;
            position: fixed;
            z-index: 10;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: var(--dark-grey-color-1);
            opacity: 0.7;
        }
        .background-sub-menu--show {
            display: block;
        }
        .submenu-box--show {
            height: 200px !important;
            opacity: 1 !important;
        }
        .sub-menu-box--container {
            display: none;
            flex-direction: column;
            position: relative;
            z-index: 20;
            width: 100%;
            height: 0px;
            background-color: var(--dark-grey-color-3);
            top: -100%;
            display: flex;
            overflow: hidden;
            opacity: 0;
            transition: 0.2s;
            .sub-menu-box-item {
                display: flex;
                flex: 1;
                height: 48px;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0 15px;
                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex: 1;
                    height: 100%;
                    color: var(--light-grey-color-2);
                    font-size: (--font-large);
                    text-decoration: none;
                }
                #close-menu-profile {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    width: 50px !important;
                    height: 100%;
                    border: none;
                    background-color: transparent
                }
            }
            .sub-menu-box-item--selected a {
                color: var(--white-color)
            }
        }
    }
}