@import url("common.css");
@import "layout";

@import url("common.css");
@import "layout";

.order-container {
  padding-bottom: 30px;

  .left-categories {
    float: left;
    margin-right: 15px;
    width: 180px;
    background-color: var(--dark-grey-color-2);

    @include respond(phone) {
      display: none;
    }

    .category-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
      text-decoration: none;
      color: var(--white-color);
      border-left: solid 2px transparent;
      transition: 0.5s;
    }

    .category-item:hover {
      background-color: var(--dark-grey-color-3);
    }

    .sub-menu {
      display: none;
    }

    .selected .category-item {
      border-left: solid 2px var(--yellow-color-1);
    
    }

    .selected .sub-menu {
      display: flex;
      flex-direction: column;

      .sub-menu-item {
        text-decoration: none;
        color: var(--light-grey-color-1);
        padding: 10px;
        padding-left: 20px;
        font-size: var(--font-smallest);
      }

      .sub-menu-item-selected {
        color: var(--white-color);
      }
    }

    .category .hide-sub-menu {
      display: none;
    }

    .selected .show-sub-menu {
      display: none;
    }

    .selected .hide-sub-menu {
      display: block;
    }

    h1 {
      margin: 0;
      font-size: var(--font-small);
      font-weight: normal;
      text-align: center;
      margin-top: 10px;
    }

    .area-box {
      height: 32px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: var(--dark-grey-color-3);
      margin: 10px;
      padding: 0 10px;

      span {
        color: var(--light-grey-color-1);
      }
    }

    .line {
      height: 0px;
      border-top: 1px solid var(--dark-grey-color-1);
      margin: 0 10px;
    }
  }

  .main-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px 15px;


    &_trackingMobile {
      @include respond(big-phone) {
        display: none;
      }
      @include respond(phone) {
        display: block;
      }
    }
   

    @include respond(phone) {
      padding: 0 0 10px 5px;
    }


    // Tracking order list mobile

    .icon_select_mate {
      position: absolute;
      top: 5px;
      right: 2%;
      font-size: 16px;
      height: 22px;
      transition: all 275ms;
      cursor: pointer;
    }

    .select_mate {
      @include respond(phone) {
        position: relative;
        height: 32px;
        color: white;
        font-weight: 300;
        transition: all 50ms ease-in-out;
        width: 100%;
      }

      select {
        position: absolute;
        overflow: hidden;
        height: 0px;
        opacity: 0;
        z-index: -1;

        @include respond(phone) {
          font-size: 14px;
        }
      }
    }

    .cont_list_select_mate {
      position: relative;
      float: left;
      width: 100%;
    }

    .cont_select_int {
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 999;
      overflow: hidden;
      height: 0px;
      width: 100%;
      background-color: var(--dark-grey-color-1);
      padding: 0px;
      margin-bottom: 0px;
      margin-top: 0px;
      transition: all 50ms ease-in;

      li {
        position: relative;
        float: left;
        width: 96%;
        border-bottom: 1px solid var(--dark-grey-color-3);
        background-color: var(--dark-grey-color-1);
        list-style-type: none;
        padding: 10px 2%;
        margin: 0px;
        transition: all 10ms ease-in;
        display: block;
        cursor: pointer;
        background-color: rgb(34, 34, 34);

        &:last-child {
          border-bottom: 0px;
        }

        &:hover {
          background-color: var(--light-grey-color-3);
          color: var(--dark-grey-color-1);
        }
      }
    }

    .cont_select_int--mobile {
      li {
        &:first-child {
          display: none;
        }

        &:nth-child(2),
        &:nth-child(5) {
          color: white;
          background-color: rgb(24, 24, 24);
        }
      }
    }

    .selecionado_opcion {
      @include respond(phone) {
        display: block;
        cursor: pointer;
        background-color: var(--dark-grey-color-3);
        padding: 8px 0 8px 8px;
        background-color: var(--dark-grey-color-3);
      }

      @include respond(mw) {
        display: none;
      }
    }

    .selecionado_opcion-mobile {
      border: 1px solid var(--light-grey-color-1);
    }

    // end Tracking order list mobile

    &_trackingHeaderMobile {
      @include respond(mw) {
        display: none;
      }


      @include respond(phone) {
        border: 1px solid var(--light-grey-color-1);
        background-color: rgb(24, 24, 24);
        height: 32px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px;
        font-size: 1.1rem;
        margin-bottom: 5px;
        position: relative;
        margin-right: 6px;
      }
    }

    &_trackingHeaderMobile-menu {
      @include respond(mw) {
        display: none;
      }

      @include respond(phone) {
        display: flex;
        flex-direction: column;
        font-size: 1.1rem;
        justify-content: center;
        position: absolute;
        margin-top: 40px;
        width: 92.5%;
        z-index: 999;

        .trackingHeadType {
          background-color: rgb(24, 24, 24);
          height: 40px;
          display: flex;
          align-items: center;
          padding-left: 10px;
        }

        &--item {
          height: 40px;
          display: flex;
          align-items: center;
          background-color: var(--dark-grey-color-2);
          padding-left: 10px;
          color: var(--light-grey-color-2);
        }

        .border {
          padding-left: 10px;
          border-bottom: 1px solid var(--dark-grey-color-1);
        }
      }
    }

    &_trackingHeader {
      display: grid;
      grid-template-columns: 20% 30% 30% 20%;
      justify-content: space-between;
      border-bottom: 1px solid var(--dark-grey-color-1);
      padding-bottom: 10px;

      @include respond(tab-port) {
        display: grid;
        grid-template-columns: 1fr;
      }

      @include respond(phone) {
        display: grid;
        grid-template-columns: 1fr;
      }

      &-status {
        display: flex;
        flex-direction: row;

        @include respond(tab-port) {
          margin-bottom: 10px;
          display: flex;
          flex-direction: column;
        }

        .statusTitle {
          color: var(--light-grey-color-1);
          margin-top: 8px;

          @include respond(phone) {
            color: white;
            font-size: 14px;
          }
        }

        .icon_select_mate {
          position: absolute;
          top: 5px;
          right: 2%;
          font-size: 16px;
          height: 22px;
          transition: all 275ms;
          cursor: pointer;

          .status-upperMobile {

            @include respond(big-phone) { display: none; }

            @include respond(tab-port) {
              display: none;
            }
          }

          .status-mobile {
            @include respond(mw) {
              display: none;
            }
            @include respond(tab-port) {
              display: block;
              margin-top: 10px;
            }
          }

        }

        .select_mate {
          position: relative;
          width: 50%;
          height: 32px;
          color: white;
          font-weight: 300;
          transition: all 50ms ease-in-out;
          margin-left: 5px;

          @include respond(tab-port) {
            margin-left: 0;
            margin-top: 8px;
            width: 200px;
          }

          @include respond(phone) {
            margin-left: 0;
            margin-top: 8px;
            width: 140px;
          }


          select {
            position: absolute;
            overflow: hidden;
            height: 0px;
            opacity: 0;
            z-index: -1;

            @include respond(phone) {
              font-size: 14px;
            }
          }
        }

        .cont_list_select_mate {
          position: relative;
          float: left;
          width: 100%;
          padding-right: 8px;

          @include respond(phone) {
            width: 100%;
          }
        }

        .cont_select_int {
          position: absolute;
          left: 0px;
          top: 0px;
          z-index: 999;
          overflow: hidden;
          height: 0px;
          background-color: var(--dark-grey-color-1);
          padding: 0px;
          margin-bottom: 0px;
          margin-top: 0px;
          transition: all 50ms ease-in;

          @include respond(phone) {
            width: 106%;
          }

          li {
            position: relative;
            float: left;
            width: 96%;
            border-bottom: 1px solid var(--dark-grey-color-3);
            background-color: var(--dark-grey-color-1);
            list-style-type: none;
            padding: 10px 2%;
            margin: 0px;
            transition: all 10ms ease-in;
            display: block;
            cursor: pointer;

            &:last-child {
              border-bottom: 0px;
            }

            &:hover {
              background-color: var(--light-grey-color-3);
              color: var(--dark-grey-color-1);
            }
          }

          .active {
            background-color: var(--light-grey-color-3);
            color: var(--dark-grey-color-1);
          }
        }

        .cont_select_int--mobile-status {
          li {
            &:first-child {
              display: none;
            }
          }
        }

        .selecionado_opcion {
          display: block;
          margin: 0px;
          cursor: pointer;
          background-color: var(--dark-grey-color-3);
          width: 80%;
          padding: 8px 20% 8px 8px;
          overflow: hidden;
          white-space:nowrap; 
          text-overflow: ellipsis;

          @include respond(phone) {
            background-color: var(--dark-grey-color-3);
            width: 140px;
          }
        }
      }

      &-period {
        display: flex;
        flex-direction: row;
        width: 100%;

        @include respond(phone) {
          margin-top: 5px;
        }

        &--from {
          display: flex;
          flex-direction: row;

          @include respond(tab-port) {
            display: flex;
            flex-direction: column;
            width: 41%;
          }

          @include respond(phone) {
            display: flex;
            flex-direction: column;
          }

          .trackingFrom {
            color: var(--light-grey-color-1);
            margin-top: 8px;

            @include respond(big-phone) {
              display: none;
            }

            @include respond(phone) {
              display: none;
            }
          }

          .trackingFromMobile {
            @include respond(mw) {
              display: none;
            }
            @include respond(phone) {
              color: white;
              margin-bottom: 8px;
              font-size: 14px;
            }
          }

          .trackingCalendar_picker {
            background-color: var(--dark-grey-color-3);
            display: flex;
            flex-direction: row;
            height: 35px;
            width: 70%;
            margin-left: 5px;
            height: 32px;

            @include respond(tab-port) {
              width: 100%;
              margin-top: 5px;
              margin-left: 0;
            }

            @include respond(phone) {
              margin-left: 0px;
              height: 30px;
              width: 104%;
            }

            .calendarPicker {
              background: transparent;
              border: none;
              outline: none;
              width: 100%;

              background-image: url(../assets/icons/ic-calendar.svg);
              background-repeat: no-repeat;
              background-position: 95% 50%;
              color: var(--light-grey-color-1);
              font-size: 14px;
              cursor: default;
              padding-left: 5px;
            }
          }
        }

        &--to {
          display: flex;
          flex-direction: row;
          margin-left: 30px;

          @include respond(tab-port) {
            display: flex;
            flex-direction: column;
            width: 40%;
            margin-left: 30px;
          }

          @include respond(phone) {
            display: flex;
            flex-direction: column;
          }

          .trackingTo {
            color: var(--light-grey-color-1);
            margin-top: 8px;

            @include respond(big-phone) {
              display: none;
            }

            @include respond(phone) {
              display: none;
            }
          }

          .trackingToMobile {

            @include respond(mw) {
              display: none;
            }

            @include respond(phone) {
              color: white;
              margin-bottom: 8px;
              margin-top: -1px;
              font-size: 14px;
            }
          }

          .trackingCalendar_picker {
            background-color: var(--dark-grey-color-3);
            display: flex;
            flex-direction: row;
            height: 35px;
            width: 70%;
            margin-left: 5px;
            height: 32px;
           

            @include respond(tab-port) {
              width: 100%;
              margin-top: 5px;
              margin-left: 0;
            }

            @include respond(phone) {
              margin-left: 0px;
              height: 30px;
              width: 104%;
            }

            .calendarPicker {
              background: transparent;
              border: none;
              outline: none;
              width: 100%;

              background-image: url(../assets/icons/ic-calendar.svg);
              background-repeat: no-repeat;
              background-position: 95% 50%;
              color: var(--light-grey-color-1);
              font-size: 14px;
              cursor: default;
              padding-left: 5px;
            }
          }
        }
      }

      &-searching {
        margin-left: 30px;

        @include respond(tab-port) {
          display: none;
        }

        @include respond(phone) {
          display: none;
        }

        .searchingContent {
          color: var(--light-grey-color-1);
          border: none;
          background-color: var(--dark-grey-color-3);
          height: 32px;
          width: 100%;
          font-size: 14px;
          padding-left: 30px;
          outline: none;
          background-image: url(../assets/icons/ic-search-gray.svg);
          background-repeat: no-repeat;
          background-position: 10px;
        }
      }

      &-paging {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        @include respond(tab-port) {
          display: none;
        }

        &--pageSelected {
          margin-left: 10px;
          margin-right: 5px;
          cursor: pointer;
        }

        &--page {
          margin-right: 10px;
          color: var(--light-grey-color-1);
          cursor: pointer;
        }

        &--arrowWrapper {
          background-color: var(--light-grey-color-1);
          width: 16px;
          height: 16px;
          border-radius: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 1px;
          cursor: pointer;

          &_left {
            width: 10px;
            height: 10px;
            padding-right: 1.8px;
          }

          &_right {
            transform: rotate(180deg);
            width: 10px;
            height: 10px;
            margin-left: 1.6px;
          }
        }
      }
    }

    // Table
    .body--form {
      margin-top: 15px;
      background-color: var(--dark-grey-color-3);

      @include respond(tab-port) {
        display: none;
      }

      @include respond(phone) {
        display: none;
      }

      .form--row {
        display: flex;
        flex-direction: row;
        border: 1px solid var(--dark-grey-color-1);
        border-top: none;
        border-right: none;

        .form--row-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 64px;
          border-right: 1px solid var(--dark-grey-color-1);
          overflow: hidden;
        }

        .form--row-item-data {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 32px;
          border-right: 1px solid var(--dark-grey-color-1);
          overflow: hidden;
        }

        .form--row-small-item {
          flex: 1;
          align-items: center;
          text-align: center;
        }

        .form--row-medium-item {
          flex: 1;
          text-align: center;
        }

        .form--input {
          padding-top: 0px;
          padding-bottom: 0px;

          input {
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            font-size: var(--font-small);
            color: var(--white-color);
          }
        }

        .form--checkbox {}
      }

      .form-title {
        display: flex;
        margin: 0;
        font-size: var(--font-small);
        color: var(--yellow-color-3);
        padding: 5px 20px;
        border: 1px solid var(--dark-grey-color-1);
        border-top: none;
      }

      .form--header {
        background-color: var(--light-grey-color-1);

        .form--row-medium-item {
          align-items: center;
        }
      }
    }

    .body--form_mobile {
      @include respond(mw) {
        display: none;
      }
      @include respond(tab-port) {
        display: block;
      }
      

      border-top: 1px solid var(--dark-grey-color-2);
      margin-top: 10px;

      .bodyBoxItem {
        border: 1px solid var(--dark-grey-color-2);
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        line-height: 25px;
        font-size: 1.1rem;

        &_id {
          color: white;
          font-size: 1.1rem;
          text-transform: uppercase;
          font-weight: 600;
        }

        &_status {
          margin-top: 5px;

          &-name {
            color: var(--light-grey-color-2);
          }

          .statusTypeYellow {
            background-color: var(--yellow-color-3);
            padding: 5px;
          }

          .statusTypeBlue {
            background-color: var(--blue-color);
            padding: 5px;
          }
        }
      }
    }

    &--pagingMobile {
      @include respond(tab-port) {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
      }

      &_roundSelected {
        @include respond(tab-port) {
          width: 20px;
          height: 8px;
          border-radius: 4px;
          background-color: var(--light-grey-color-4);
          margin-right: 5px;
        }
      }

      &_round {
        @include respond(tab-port) {
          width: 8px;
          height: 8px;
          border-radius: 4px;
          background-color: var(--light-grey-color-1);
          margin-right: 5px;
        }
      }
    }
  }

  .blank {
    background-color: var(--dark-grey-color-2);
    height: auto;

    @include respond(tab-port) {
      background-color: var(--dark-grey-color-1);
    }
    @include respond(phone) {
      background-color: var(--dark-grey-color-1);
    }
  }
}